@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F0F0F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1em);
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

main {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    padding: 3em 40px;
    background-color: white;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

input, select {
    padding: 5px;
    width: fit-content;
    width: 100%;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    border: 0px;
    width: 75%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 18px;
}

.submit:hover {
    cursor: pointer;
}

.back {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;    
}